/*body {
  background-image: url(joanna-kosinska-340749.jpg);
  background-size: contain;
}*/

h1{
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px;
  text-decoration: underline;
}

.game-cubes {
  width: 1080px;
  margin: 0 auto;
}

.cube {
  float: left;
  margin: 10px;
  height: 200px;
  width: 150px;
  background: black;
}

/*.overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  background: gray;
}*/
